// Specific CSS for your home-page

.events_index {
  display: flex;
}

.DashboardContainer {
  background-color: #F4F4F4;
  height: 348px;
  z-index: 1;
}

.title-home {
  text-align: center;
  margin: 30px;
  font-size: 35px;
  padding-bottom: 28px;
}

.subtitle {
  color: #8f8e87;
  font-size: 25px;
  margin-top: auto;
  padding: 10px;
}

body {
  background-color: #F4F4F4;
}

.gridrow {
  background-image: url(background-2.png);
  background-size: cover;
  height: 375px;
  background-repeat: no-repeat;
  margin-top: 30px 30px 30px 30px;
}

.gridrow2 {
  display: flex;
  justify-content: flex-end;
  background-image: url(background-3.png);
  background-size: cover;
  height: 375px;
  background-repeat: no-repeat;
  margin-top: 30px 30px 20px 20px;
}

.gridrow3 {
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  height: 350px;
  background-repeat: no-repeat;
  margin-top: 30px 30px 20px 20px;
}

.card-subtitle {
  font-size: 45px;
  padding: 40px 0px 70px 0px;
  color: white;
}
.card-subtitle2 {
  font-size: 45px;
  padding: 30px 0px 70px 0px;
  color: #F1B831;
}

.card-description {
  color: white;
  padding: 30px 0px 20px 0px;
  margin-top: -45px
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-item-2 {
  flex: 0 0 50%;
  margin: 10px 10px 10px 10px;
}

.flex-container1 {
  display: flex;
  justify-content: space-around;
}

.contactform {
 margin: 20px 20px 20px 50px;
}

.text-center {
  margin-bottom: 1.5rem;
}
