<h1>My list of freight</h1>
<% @freights.each do |freight| %>
  <h2><%= freight.origin %></h2>
  <p><%= freight.destination %></p>
  <%= simple_form_for [freight, @booking]  do |f| %>
    <%= f.submit 'Book now', class: 'btn btn-primary' %>
  <% end %>
<% end %>
