<div class="container">
  <div class="dflex">

     <%= form_tag shippers_freights_path, class: "form-inline mt-5",  method: :get do %>
        <%= text_field_tag :origin, nil, class: 'form-control mr-sm-2', placeholder: 'Origem' %>
        <%= text_field_tag :destination, nil, class: 'form-control mr-sm-2', placeholder: 'Destino' %>
        <%= submit_tag :search, class: 'btn btn-primary' %>
     <% end %>

  </div>
</div>









     <%#= form_tag freights_path, class: "form-search",  method: :get do %>
       <%#= text_field_tag :query,
           params[:modal],
          class: "form-control search-input",
          placeholder: "SEA"  %>
          <%#= select_tag "teste", options_for_select('1','2') %>



    <%#= simple_form_for @user do |f| %>
  <%#= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %>
  <%#= f.input :accepts, as: :boolean, checked_value: true, unchecked_value: false %>
  <%#= f.button :submit %>
<%# end %>

    <%# end %>
        <%#= text_field_tag :query,
           params[:origin],
          class: "form-control search-input",
          placeholder: "Country, Seaport"  %>


        <%#= text_field_tag :query,
           params[:destination],
          class: "form-control search-input",
          placeholder: "Country, Seaport"  %>



<!--
        <div class="container">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h2>Flatpickr Demo</h2>

        <%#= simple_form_for :search, method: "get" do |f| %>
       <%#= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%#= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%#= f.button :submit, "Go", class: "btn btn-primary" %>
    <%# end %>
  </div>
</div>

        <%#= text_field_tag :query,
           params[:type_of_shipment],
          class: "form-control search-input",
          placeholder: "?"  %>
        <%#= submit_tag "Search", class: "btn btn-search" %>

      <%# end %>
      </div>
    </div>
  </form>
  </div>
 -->

