<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1573030889348-c6b0f8b15e40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1313&q=80);">
  <div class="container">
    <h1>Find the best international freight quotes</h1>
    <p>Unique trading experience shipping to and from anywhrere</p>

    <!-- <div class="form-home">
     <%#= form_tag freights_path, class: "form-search",  method: :get do %>
       <%#= text_field_tag :query,
           params[:origin],
          class: "form-control search-input",
          placeholder: "Look for your vegan experiences"  %>
        <%#= submit_tag "Search", class: "btn btn-search" %>
      <%# end %>
    </div> -->
  </div>
</div>


