
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1510681916233-314f497f3301?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>FIND THE BEST INTERNATIONAL FREIGHT QUOTES</h1>
    <p>Unique trading experience shipping to and from anywhrere</p>

    <div class="container">
  <div class="dflex">

     <%= form_tag search_path, class: "form-inline mt-5",  method: :get do %>
        <%= text_field_tag :origin, nil, class: 'form-control mr-sm-2 origin-search-form', placeholder: 'Origem' %>
        <%= text_field_tag :destination, nil, class: 'form-control mr-sm-2', placeholder: 'Destino' %>
        <%= submit_tag :search, class: 'btn btn-primary' %>
     <% end %>

  

  </div>
</div>
  </div>
</div>

<div class="how-it-works">
  <div class="card m-5 text-center">
    <div class="DashboardContainer text-center">
      <h2 class="title-home mb-5 border-bottom "><span style="color:#20b286">Online Freight Marketplace</span></h2>
      <div class="Grid row">
        <div class='col-4'>
          <i class="fas fa-search-location" style="font-size:56px"></i>
          <h2 class="subtitle">SEARCH</h2>
          <p>Explore thousands of delicious <span style="color:#20b286">vegan</span> food experiences around the world. Once you have chosen your destination...</p>
        </div>
        <div class="col-4">
          <i class="fas fa-calendar-day" style="font-size:56px"></i>
          <h2 class="subtitle">BOOK</h2>
          <p>Once you’ve made your choice, you simply need to select the dates you are available and click “Request to book”...</p>
        </div>
        <div class="col-4">
          <i class="far fa-star" style="font-size:56px"></i>
          <h2 class="subtitle">REVIEW</h2>
          <p>It’s time to enjoy your Eatgreen experience! Your selected host is waiting to meet you and share their food story...</p>
        </div>

      </div>
    </div>
  </div>





  <div class="card text-center m-5">
    <div class="DashboardContainer text-center">
      <h2 class="title-home border-bottom"><span style="color:#20b286">Add your company to DaleShip.com </span></h2>
      <div class="Grid row">
        <div class='col-4'>
          <i class="far fa-newspaper" style="font-size:56px"></i>
          <h2 class="subtitle">OFFER</h2>
          <p>Want to share your passion for food with people from all over the world? Well you’ve come to the right place!...</p>
        </div>
        <div class="col-4">
          <i class="fas fa-tasks" style="font-size:56px"></i>
          <h2 class="subtitle">MANAGE</h2>
         <p>Once you start hosting, it’s easy to manage requests and confirm reservations with guests from around the world...</p>
        </div>
        <div class="col-4">
          <i class="fas fa-hat-wizard" style="font-size:56px"></i>
          <h2 class="subtitle">WELCOME</h2>
          <p>The big moment is finally here! It’s time to share your food and passion with your guests. We guarantee you’ll enjoy...</p>
        </div>
      </div>
    </div>
  </div>
</div>

