<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

     <%#= form_tag freights_path, class: "form-search",  method: :get do %>
       <%#= text_field_tag :query,
           params[:modal],
          class: "form-control search-input",
          placeholder: "SEA"  %>
          <%#= select_tag "teste", options_for_select('1','2') %>

    <input type="text" placeholder="Country,City,Port" value="" id="addr_from" autocomplete="off" class="ui-autocomplete-input">

    <input type="text" placeholder="Country,City,Port" value="" id="addr_from" autocomplete="off" class="ui-autocomplete-input">

    <input type="text" placeholder="Country,City,Port" value="" id="addr_from" autocomplete="off" class="ui-autocomplete-input">

    <%# end %>
        <%#= text_field_tag :query,
           params[:origin],
          class: "form-control search-input",
          placeholder: "Country, Seaport"  %>


        <%#= text_field_tag :query,
           params[:destination],
          class: "form-control search-input",
          placeholder: "Country, Seaport"  %>



<!--
        <div class="container">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h2>Flatpickr Demo</h2>

        <%#= simple_form_for :search, method: "get" do |f| %>
       <%#= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%#= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%#= f.button :submit, "Go", class: "btn btn-primary" %>
    <%# end %>
  </div>
</div>

        <%#= text_field_tag :query,
           params[:type_of_shipment],
          class: "form-control search-input",
          placeholder: "?"  %>
        <%#= submit_tag "Search", class: "btn btn-search" %>

      <%# end %>
      </div>
    </div>
  </form>
  </div>
 -->

