.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.full {
  position: fixed;
  right: 250px;
  left: 300px;
  bottom: 500px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  border: 2px solid #FD1015;
}
