.banner {
  background-position: center;
  padding: 150px 0;
  text-align: center;
  background: linear-gradient(107deg, rgba(5, 117, 230,0.7) 0%, rgba(0, 242, 96,0.6) 100%), url(world-map6.png);
  background-size: contain;
  height:450px;
}

.banner h1 {
  margin: 0;
  color: #fff6bd;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner h4 {
  margin-top: 8px;
  font-size: 23px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
