.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #215382;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.book-now {
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #F46355;
  border-color: #F46355;
  &:hover {
    background-color: #f45655;
    border-color: #f45655;
  }
}

.btn-register {
  color: #e8e8e8;
  padding: 8px 24px;
  border-radius: 8px;
  background: #565656;
  transition: background 0.3s ease;
}

.btn-register:hover {
  text-decoration: none;
  background: #565656;
  color: white;
}

.btn-contactform {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.btn-filter {
  color: #e8e8e8;
  padding: 6px 12px;
  border-radius: 4px;
  background: #565656 !important;
  transition: background 0.3s ease;
}

.btn-filter:hover {
  background: #565656;
  color: white;
}
