.formhome {
	display: flex;
	justify-content: space-around;
}

.formorigin {
		width: 160px;
		margin: 0 5px 0 5px;
		height: 33px;
}

.type_of_shipment-search-form {
	width: 160px;
  margin: 0 5px 0 5px;
  height: 33px;
}

.searchbtn {
	height: 33px;
	font-size: smaller;
	border-radius: 5px;
	margin-left: 10px;
}

.search-form {
  label {
    color: #424242;
    font-size: 12px;
    font-weight: bold;
    justify-content: start !important;
    margin-left: 5px;
  }

  input[type='submit'] {
    margin-top: 17px;
  }
}
