.formhome {
	display: flex;
	justify-content: space-around;
}

.formorigin {
		width: 160px;
		margin: 0 5px 0 5px;
		height: 33px;
}

.type_of_shipment-search-form {
	width: 160px;
  margin: 0 5px 0 5px;
  height: 33px;
}

.searchbtn {
	height: 33px;
	font-size: smaller;
	border-radius: 5px;
	margin-left: 10px;
}
