.formhome {
	display: flex;
	justify-content: space-around;
}

.formorigin {
		width: 160px;
		margin: 0 5px 0 5px;
		height: 33px;
}

.type_of_shipment-search-form {
	width: 160px;
  margin: 0 5px 0 5px;
  height: 33px;
}

.searchbtn {
	height: 33px;
	font-size: smaller;
	border-radius: 5px;
	margin-left: 10px;
}

.search-title {
  color: #424242;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20%;
  display: flex;
  text-align: left;
  label{
    margin-bottom: 0;
  }
}

.origin-search {
  width: 21%;
}

.destination-search {
  width: 54%;
}

.search-space {
  flex: 1 0 auto;
}

.type-search {
  width: 23%;
}

@media (max-width: 1029px) {
  .origin-search {
    width: 50%;
    margin-left: -4%;
  }
  .destination-search {
  width: 112%;
  }
  .type-search {
  width: 45%;
  }
}


@media (max-width: 1029px) {
  .origin-search {
    width: 50%;
    margin-left: -4%;
  }
  .destination-search {
  width: 112%;
  }
  .type-search {
  width: 45%;
  }
}
