.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.nav-login {
  height: 40px;
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
    border-bottom: 5px white solid;
    transition: 0.5s;
  }
}

.nav-shipper {
  height: 40px;
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
    border-bottom: 5px white solid;
    transition: 0.5s;
  }
}

.nav-home {
  height: 40px;
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-image-source: linear-gradient(107deg, rgba(5, 117, 230,1) 0%, rgba(0, 242, 96,1) 100%);
    border-image-slice: 1;
    transition: 0.5s;
  }
}

.nav-freight {
  height: 40px;
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-image-source: linear-gradient(107deg, rgba(5, 117, 230,1) 0%, rgba(0, 242, 96,1) 100%);
    border-image-slice: 1;
    transition: 0.5s;
  }
}


.banner {
  background-image: url('../../images/multimodal.png');
}

.navbar-banner {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 98vw;
}

.navbar-banner-white {
  background-color: white;
  z-index: 100;
}

.navbar-banner .navbar-collapse {
  flex-grow: 0;
}

.navbar-banner .navbar-brand img {
  width: 45px;
}
