.roletitle {
	text-align: center;
	margin: 30px 0;
}

.newrole {
	background-color: #e3e7f1;
// 	border-spacing: 5px;
// 	border-color: blue;
// 	border-width: 5px;
// 	border-radius: 5px;
// 	padding: 30px;
}

.newrole-btn {
  text-align: center;
	color: #ffdc34;
  margin-top: 50px;
}

.role-shipper {
  height: 50px;
  border-spacing: 5px;
  border-width: 5px;
  border-radius: 8px;
  padding: 30px;
  display: inline-block;
}

.form-roles {
  label {
  	font-size: 20px;
  }
}

