.roletitle {
	text-align: center;
	margin: 30px 0;
}

.newrole-btn {
  text-align: center;
	color: #ffdc34;
  margin-top: 50px;
}

.role-shipper {
  background-color: white;
  height: 50px;
  border-radius: 8px;
  padding-top: 10px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

.role-carrier {
  background-color: white;
  height: 50px;
  border-radius: 8px;
  padding-top: 10px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

.form-roles {
  label {
  	font-size: 20px;
  }
}

